@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0a0a0c;
  color: #ffffff;
}

/* F1 Telemetry Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0a0a0c;
}
::-webkit-scrollbar-thumb {
  background: #dc2626; /* Ferrari Red */
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ef4444;
}